.board-container{
    width: 90%;
    padding-top: 74%;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.board-inside{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.big-board{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #333;
}
.small-board{
    display: flex;
    flex-wrap: wrap;
    height: 32%;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 1vw);
    border: 1px solid #303030;
    height: 32%;
    width: 30%;
    background: #f8f8f8;
}
.tile span{
    margin-top: -7px;
}
.tile.disabled{
    background: #5c5c5c;
}
.tile.x{
    color: #F44336;
}
.tile.o{
    color: #03A9F4;
}
.tile.board-o{
    background-color: #03A9F4;
}
.tile.board-x{
    background-color: #F44336;
}
.tile.board-none{
    background: #444;
    color: #bbb;
 }
@media screen and (min-width: 660px) {
    .board-container{
        width: 56%;
        padding-top: 48%;
    }
}
@media screen and (min-width: 996px) {
    .board-container{
        width: 36%;
        padding-top: 30%;
    }
}