.app {
  text-align: center;
  display: block;
  min-height: 100vh;
  color: #fff;
  background-color: #282C34;
}
.status-text{
  padding-top: 80px;
  font-size: 24px;
}
.status-text .x{
  color: #F44336;
}
.status-text .o{
  color: #03A9F4;
}
.icon-reset {
  position: absolute;
  top: 120px;
  right: calc(25% + 5px);
}
@media screen and (min-width: 996px) {
  .icon-reset{
    right: calc(34% + 5px);
  }
}