.find-match{
    position: absolute;
    top: 125px;
    left: calc(10% + 5px);
    font-size: 14px;
}
.mp-button{
    font-size: 12px;
    border-radius: 4px;
    background: none;
    border: 1px solid #a1a1a1;
    padding: calc(.275em - 1px) 1em;
}
.mp-cancel-button{
    font-size: 12px;
    border-radius: 4px;
    background: none;
    border: 1px solid #a1a1a1;
    padding: calc(.175em - 1px) 0.5em;
    margin-left: 4px;
}
.mp-button:hover, .mp-cancel-button:hover{
    border: 1px solid white;
    cursor: pointer;
}
.in-queue{
    display: inline-block;
    position: absolute;
    top: 3px;
    width: 200px;
    text-align: left;
}
.find-match .icon-spinner{
    display: inline-block;
    margin-top: -2px;
}
.find-match .icon-spinner svg{
    width: 30px;
}
@media screen and (min-width: 660px) {
    .find-match{
        left: calc(25% + 5px);
    }
}
@media screen and (min-width: 996px) {
    .find-match{
        left: calc(34% + 5px);
    }
}