.progress-bar-container{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 70%;
}

.score-progress-bar{
    height: 24px;
    border-radius: 10px;
    color: #F44336;
    background-color: #161921;
    position: relative;
    overflow: hidden;
}
.progress {
    height: 24px;
    background-color: #595f6a;
    border-radius: 0 10px 10px 0;
    color: #03A9F4;
    float: right;
    transition: width 0.4s;
}
.score-progress-bar__o{
    position: absolute;
    right: 20px;
}
.score-progress-bar__x{
    position: absolute;
    left: 20px;
 }

@media screen and (min-width: 660px) {
    .progress-bar-container{
        width: 45%;
    }
}
@media screen and (min-width: 996px) {
    .progress-bar-container{
        width: 28%;
    }
}